@page
@model PetAdoptions.Pages.Pets.DetailsModel
@{
    ViewData["Title"] = "Pet Details";
}

<h1>Pet Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Pet.Name</dd>

        <dt class="col-sm-2">Species</dt>
        <dd class="col-sm-10">@Model.Pet.Species</dd>

        <dt class="col-sm-2">Breed</dt>
        <dd class="col-sm-10">@Model.Pet.Breed</dd>

        <dt class="col-sm-2">Age</dt>
        <dd class="col-sm-10">@Model.Pet.Age</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Pet.Status</dd>

        <dt class="col-sm-2">Intake Date</dt>
        <dd class="col-sm-10">@Model.Pet.IntakeDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Adopter</dt>
        <dd class="col-sm-10">
            @(Model.Pet.Adopter != null ? Model.Pet.Adopter.FirstName + " " + Model.Pet.Adopter.LastName : "")
        </dd>

        @if (!string.IsNullOrEmpty(Model.Pet.PhotoUrl))
        {
            <dt class="col-sm-2">Photo</dt>
            <dd class="col-sm-10">
                <img src="@Model.Pet.PhotoUrl" alt="Pet Photo" class="img-fluid" />
            </dd>
        }
    </dl>

    <a asp-page="Edit" asp-route-id="@Model.Pet.PetId" class="btn btn-primary">Edit</a>
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</div>
